In [ ]:
!pip install seaborn

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
laptopdata = pd.read_csv("datasets/laptops.csv", encoding = "ISO-8859-1",index_col=0)
laptopdata.head()

## Shape will return no of rows and no of columns

In [ ]:
laptopdata.shape

## inplace = true --> do the mentioned operation in the dataframe itself, 
## if false would have returned new dataframe with the dropped column
## axis = 1 , is for columns

In [ ]:
laptopdata.drop(['Product', 
                 'ScreenResolution', 
                 'Cpu',
                 'Memory', 
                 'Gpu',
                 'Weight'], inplace=True, axis = 1)

In [ ]:
laptopdata.head()

In [ ]:
laptopdata["TypeName"].unique()

In [ ]:
laptopdata["TypeName"].value_counts()

## By dafault value_counts return the count in descending order, if you dont want the sorting then use sort= False

In [ ]:
laptopdata["TypeName"].value_counts(sort=False)

## To sort the values in ascending order, sort_values(ascending=True)

In [ ]:
laptopdata["TypeName"].value_counts().sort_values(ascending=True)

In [ ]:
laptopdata["TypeName"].groupby(laptopdata["Company"]).value_counts().sort_values(ascending=False)

##  bins argument. This parameter allows us to specificy the number of bins (or groups we want to split the data into) 
## as an integer. In the example below I have added bins=5 to split the Price_euros into 5 groups.

In [ ]:
laptopdata["Price_euros"].value_counts(bins=5)

## For a bar chart, you first need to create a series of counts of each unique value (use the pandas value_counts() function) and then proceed to plot the resulting series of counts using the pandas series plot() function.

## The plot() function plots a line chart of the series values by default but you can specify the type of chart to plot using the kind parameter. To plot a bar chart, pass ‘bar’ to the kind parameter.

In [ ]:
plt.figure(figsize=(12,8))
laptopdata["Company"].value_counts().plot(kind="bar")
plt.title('Laptops by company', fontsize=15)

plt.xlabel('Company', fontsize=12)
plt.ylabel('Frequency', fontsize=12)
plt.show()

### A Box Plot is also known as Whisker plot is created to display the summary of the set of data values having properties 
### like minimum, first quartile, median, third quartile and maximum.
### In the box plot, a box is created from the first quartile to the third quartile, a vertical line is also there which goes through the box at the median.
### Here x-axis denotes the data to be plotted while the y-axis shows the frequency distribution.

In [ ]:
laptopdata[["Price_euros"]].boxplot()

In [ ]:
plt.boxplot(laptopdata[["Price_euros"]])

In [ ]:
laptopdata.boxplot(by='Company', column=["Price_euros"], grid=False,figsize=(15,8))

### So far we have used matplot lib , lets use swarmplot

In [ ]:
plt.figure(figsize=(12,8))
sns.swarmplot(x="TypeName",y= "Price_euros", data= laptopdata)
plt.title('Price distributipn by type', fontsize=15)

plt.xlabel('Company', fontsize=12)
plt.ylabel('Prize in euros', fontsize=12)
plt.show()